* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, Arial, sans-serif;
}

/*
    H
     E
      A
       D
        E
         R
 */

header {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-family: Raleway, Tahoma, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 18px;
    letter-spacing: 1px;

}
.main_width {
    width: 1200px;
    margin: 0 auto;
}

header .main_width{
    display: flex;
    justify-content: space-between;
}

.logo .greentext {
    color: mediumseagreen;
    font-weight: 900;
}

header ul {
    float: left;
    list-style-type: none;
}

header ul li {
    float: left;
    padding-right: 50px;
}

header ul li ul {
    display: none;
}
header ul li a {
    text-decoration: none;
    color: white;
}


/*
   S
    L
     I
      D
       E
        R
 */
.slider {

    background-image: linear-gradient(white 70%, #cfced3);

    height: 510px;
}

.slider .main_width {
    display: flex;
    justify-content: space-around;
    position: relative;

}

.slider__image {
    width: 500px;
    height: 500px;
    background-image: url(../images/black_chair.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
}

.slider__content{
    width: 440px;
    margin-top: 110px;
    text-align: center;
    margin-right: 150px;

}

.slider__content h1{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 40px;

}
.slider__content .greentext {
    color: #39BF9F;
    font-weight: 700;
}

.slider__content p {
    margin: 0 auto;
    line-height: 20px;
}
.slider button {
    margin-top: 50px;
    width: 260px;
    height: 50px;
    border-radius: 12px;
    background-color: #39BF9F;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
}

.slider .main_width:after{
    content: '>';
    position: absolute;
    font-size: 90px;
    left: 99%;
    bottom: 45%;
    font-weight: 300;
    color: #39BF9F;
}
.slider .main_width:before{
    content: '<';
    position: absolute;
    font-size: 90px;
    right: 99%;
    bottom: 45%;
    font-weight: 300;
    color: #39BF9F;
}
.slider button:hover {
    border: 1px solid white;
}

/*
    A
     R
      T
 */

.arts .main_width {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    height: 320px;
}

.small-box {
    width: 30%;
    height: 240px;
    position: relative;

}
.small-box h3{
    padding-top: 20px;
    margin-left: 20px;
    margin-bottom: 3px;
}
.small-box:nth-of-type(1){
    background-image: url("../images/box1_img.jpg");
    background-size: cover;
}

.small-box:nth-of-type(2){
    background-image: url("../images/box2_img.jpg");
    background-size: cover;
}
.opacity_box{
    background-color: rgba(255,255,255, 0.5);
    bottom: 7%;
    height: 65px;
    width: 100%;
    margin-top: 170px;
    position: relative;
}
.medium-box {
    width: 32%;
    border: 1px solid lightgrey;
    height: 270px;
    position: relative;
}
.medium_box_content{
    margin: 30px 25px;
}
.medium_box_content p{
    margin-top: 20px;
    color: dimgray;
    line-height: 23px;
    font-weight: 500;
}
.arts h3 {
    font-weight: 600;
    font-size: 16px;
}

.small-box .green_underline {
    width: 140px;
    height: 6px;
    background-color: #39BF9F;
    position: absolute;
    left: 5%;
}
.medium-box .green_underline {
    width: 140px;
    height: 6px;
    background-color: #39BF9F;
    position: absolute;
    left: 25px;
}

/*
    C
     E
      N
       N
        I
         K
 */

.price {
    background-color: #f1f1f1;
}

.price .main_width {
    height: 740px;
}

.price__boxy {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.price h2 {
    padding-top: 50px;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: dimgray;
}
.price_title {
    position: relative;
}
.price .green_underline{
    width: 330px;
    height: 8px;
    background-color: #39BF9F;
    position: absolute;
    left: 18px;
}

.price__boxy {
    display: flex;
    justify-content: space-around;
    margin: 60px 5px;
}
.big_box {
    height: 500px;
    width: 30%;
    border: 2px solid #d6d6d6;
    text-align: center;
    position: relative;
    background-color: #f9f9f9;
    margin-top: 25px;
}

.big_box h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    margin-top: 40px;
    color: #39BF9F;
}

.price_circle{
    width: 140px;
    height: 140px;
    border: 2px solid #d6d6d6;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 20%
}
.pricecon {
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 25%;
    font-size: 40px;
    font-weight: 800;
    color: #bcbdbc;
}

.big_box ul {
    list-style: none;
    position: absolute;
    transform: translate(-50%);
    width: 100%;
    top: 55%;
    left: 50%;
}
.big_box button {
    position: absolute;
    bottom: 3%;
    transform: translate(-50%);
    left: 50%;
    background-color: #39BF9F;
    border-radius: 6px;
    border: none;
    width: 120px;
    height: 30px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 16px;
}
.big_box ul li:nth-of-type(2n){
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    line-height: 40px;
    color: #838383;
    font-size: 23px;
}

.big_box ul li:nth-of-type(2n + 1){
    width: 100%;
    height: 40px;
    background-color: #e4e4e4;
    line-height: 40px;
    color: #9b9b9b;
    font-size: 23px;
}
.big_circle {
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 2px solid #d6d6d6;
    background-color: #f9f9f9;
    transform: translate(-50%, -50%);
    top: -2%;
    left: 50%;

}
.small_circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #d6d6d6;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.big_box:hover, .big_box:hover .big_circle{
    background-color: #39BF9F;
    border: 2px solid #39BF9F;
}
.big_box:hover button{
    background-color: white;
    color: #39BF9F;
}
.big_box:hover h3 {
    color: white;
}
.big_box:hover .price_circle, .big_box:hover .pricecon, .big_box:hover .small_circle{
    color: #39BF9F;
    background-color: white;
    border: none;
}

.big_box:hover ul li:nth-of-type(2n + 1) {
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    line-height: 40px;
    color: #838383;
    font-size: 23px;
}
.big_box:hover ul li:nth-of-type(2n) {
    width: 100%;
    height: 40px;
    background-color: #e4e4e4;
    line-height: 40px;
    color: #9b9b9b;
    font-size: 23px;
}

/*
    F
     O
      R
       M
        A
 */
form {
    display: flex;
    justify-content: space-between;
    height: 500px;
}

.form h2 {
    padding-top: 50px;
    padding-left: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: dimgray;
}

.form_title {
    position: relative;
}
.form_title .green_underline {
    width: 330px;
    height: 8px;
    background-color: #39BF9F;
    position: absolute;
    left: 18px;
}

.form_content {
    width: 55%;
    margin-top: 25px;
}
form .form_content input, form .form_content textarea {
    display: block;
    margin-top: 30px;
    margin-left: 20px;
    width: 100%;
    height: 45px;
    border: 1px solid rgba(57, 191, 159, 0.4);
    font-size: 25px;
    padding-left: 10px;
}
form .form_content textarea {
    padding-top: 12px;
    height: 180px;
    resize: none;
}

::placeholder {
    color: #e4e4e4;
}
.form_right {
    width: 33%;
    position: relative;
}

.form_image {
    background-image: url("../images/red_chair.png");
    width: 270px;
    height: 270px;
    background-size: contain;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    bottom: 10%;
}

.checkbox {
    display: flex;
    justify-content: space-around;
    margin-top: -70px;
    margin-left: -30px;
    font-size: 18px;
    color: #cccccc;
    font-weight: 500;
    padding: 30px 30px 30px 0;
    width: 420px;



}
.checkbox input{
    width: 20%;
    margin-top: 3px;

}

.form_right input[type=submit] {
    background-color: #39BF9F;
    border: none;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    font-weight: 700;
    width: 382px;
    height: 70px;
    border-radius: 7px;
    margin-left: -30px;
    margin-top: 5px;
}


.checkbox input {
    display: block;
    opacity: 0;
    height: 50px;
    position: absolute;
    width: 50px;
    cursor: pointer;
}

.checkbox label {
    display: block;
    padding-left: 65px;
    position: relative;
    font-size: 22px;
    color: #cecece;
    cursor: pointer;
}

.checkbox label::before, .checkbox label::after {
    border: 1px solid rgba(57, 191, 159, 0.4);
    content: "";
    display: block;
    left: 0;
    height: 45px;
    position: absolute;
    width: 45px;
    top: 0;
}
.checkbox label::after {
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
    display: none;
}

.checkbox input:checked + label::after {
    display: block;
}

footer .main_width{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
footer p {
    margin-left: 20px;
    font-size: 16px;
    color: darkgray;
}
.footerlogos p {
    font-weight: 600;
    font-size: 20px;
}
.bold_logo {
    font-weight: 800;
}

.footerlogos {
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.footer__logo {
    width: 50px;
    height: 50px;
    background-color: black;
    display: inline-block;
}